---
import Layout from "../../layouts/Layout.astro";
import { changePassword } from "../../db";

const session = Astro.cookies.get("session")?.value;
if (!session) return Astro.redirect("/dashboard/login/");

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const password = formData.get("password") as string;
  await changePassword(session, password);
  return Astro.redirect("/dashboard/");
}
---

<Layout>
  <form method="POST">
    <label for="password">New Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Change Password</button>
  </form>
</Layout>
