---
import Layout from "../../layouts/Layout.astro";
import { newSession, validateUser } from "../../db";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const username = formData.get("username") as string;
  const password = formData.get("password") as string;

  if (await validateUser(username, password)) {
    Astro.cookies.set("session", await newSession(username), {
      path: "/",
      expires: new Date(Date.now() + 1000 * 60 * 60),
    });
  }

  return Astro.redirect("/dashboard/");
}
---

<Layout>
  <form method="POST" class="inline-flex flex-col gap-2 p-5">
    <label for="username" class="text-xl">Username</label>
    <input type="text" name="username" id="username" class="border-2 p-2" />
    <label for="password" class="text-xl">Password</label>
    <input type="password" name="password" id="password" class="border-2 p-2" />
    <button type="submit" class="bg-black p-2 text-white hover:bg-white hover:text-black">Login</button>
  </form>
</Layout>
