---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>adeen.link</h1>
  <h2>About</h2>
  <p>
    adeen.link is (mainly) a link shortener for <a href="https://adenpun.net/" target="_blank">Aden Pun</a> and <a href="https://onenewhand.net/" target="_blank">onenewhand</a> (and their friends).
  </p>
  <p>
    Whenever you see a link like <code>https://adeen.link/foobar</code>, it usually isn't a virus.
  </p>
  <p>adeen.link is currently not and probably will not be opened for public use.</p>
  <p>If you have an account, go to <a href="/dashboard/">dashboard</a>.</p>
</Layout>
