---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-6xl">adeen.link</h1>
  <p class="text-xl">A link shortener made with Astro/MongoDB. (not for public use)</p>
  <p>Go to <a href="/dashboard" class="text-blue-500">dashboard</a> to manage your links (if you have an account).</p>
</Layout>
