---
import { deleteClipboard, editClipboard, getClipboard } from "../../../db";
const from = Astro.params.id!;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const isEdit = formData.get("edit") !== null;

  if (isEdit) {
    const to = formData.get("to") as string;
    await editClipboard(from, to);
    return Astro.redirect("/dashboard/");
  } else {
    await deleteClipboard(from);
    return Astro.redirect("/dashboard/");
  }
}

const to = (await getClipboard(from))!;
---

<a href="/dashboard/">Dashboard</a>

<form method="POST">
  <label for="from">From</label>
  <input type="text" name="from" id="from" value={from} readonly class="border-2 p-2" />
  <label for="to">to</label>
  <input type="text" name="to" id="to" value={to} class="border-2 p-2" />
  <button type="submit" name="edit">Edit</button>
  <button type="submit" name="delete">Delete</button>
</form>
