<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>adeen.link</title>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
